#head {
    text-align: center;
    color: darkblue;
    background-color: bisque;
    margin-left: 500px;
    margin-right: 500px;
}
label{
    display: block;
    margin-bottom: 10px;
}
span{
    color: rgb(134, 21, 62);
}