table {
    border-collapse: collapse;
    margin-left: 150px;
    margin-right: 350px;
}
td{
    border: 2px double #0922b0;
    padding: 10px 15px;
}
th{
    border: 2px double #0922b0;
    padding: 10px 15px;
}