nav > ul{
    display: flex;
}
nav li{

    list-style: none;
    display: inline;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: rgb(3, 5, 4);
}
nav li:hover{
    background-color: aqua;
    padding: 5px;
    
}
nav li .drop{
    display: none;
    position: absolute;
    background-color: chartreuse;
    padding: 5px;
}
nav li:hover .drop{
            display: block;
}