table{
    border-collapse: collapse;
}
th{
    border: 2px solid gray;
    padding: 5px;
}
td{
    border: 2px solid gray;
    padding: 5px;
}
#head{
   color: chartreuse;
   background-color: black;
   margin-right: 900px;
}
#heads{
     color: rgb(146, 32, 12);
    background-color: black;
}